.fade-enter {
  transform: translateX(-100px);
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

.fade-enter-to {
  transform: translateX(0px);
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transform: translateX(0px);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
