@import '_normalize';
@import '_colors';
@import '_spacing';
@import '_transition';
@import '_select';
body {
  font-family: 'Roboto', sans-serif;
  background-color: $white-gray;
  transition: all 200ms ease-out;
  &.darkMode {
    background-color: black;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  &:active {
    color: $primary-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.clear {
  clear: both;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.text-center {
  text-align: center;
}

.container {
  max-width: 620px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
}

.title {
  font-weight: 700;
  font-size: 36px;
}

.title2 {
  font-weight: 700;
  font-size: 24px;
}

.title3 {
  font-weight: 700;
  font-size: 20px;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.darkMode {
  .fas {
    color: white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: white;
  }
}

.w100 {
  max-width: 100%;
  height: auto;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.bg-main {
  background-color: $primary-color;
}

.color-white {
  color: white;
}

.color-main {
  color: $primary-color;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex !important;
}
